<h1 [ngClass]="isGreen? 'title-green':'title-red'" >{{title}}</h1>

<h2 *ngIf="admins.length<1">No Data</h2>

<table style="margin-top: 60px;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th style="padding-left: 17%;">Actions</th>

      </tr>
    </thead>
    <tbody *ngIf="admins.length > 0">
      <tr *ngFor="let admin of admins">
        <td>{{admin.id}}</td>
        <td>{{admin.name}}</td>
        <td>{{admin.username}}</td>
        <td>{{admin.password}}</td>
        <td>
          <div style="display: inline-flexbox" class="container">
          <div style="margin-right: 20px;" class="btn"><a (click)="deleteAdmin(admin.id)">Delete</a></div>
          <div  class="btn"><a href="#">Update</a></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <button class= "button" (click)="addAdmins()" style="--clr:#790252; margin: 20px; float: right">
    <span>Add Admin</span>
    <i></i>
  </button>