<h1 [ngClass]="isGreen? 'title-green':'title-red'" >{{title}}</h1>

<h2 *ngIf="publishers.length<1">No Data</h2>

<table style="margin-top: 60px;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody *ngIf="publishers.length > 0">
      <tr *ngFor="let publisher of publishers">
        <td>{{publisher.id}}</td>
        <td>{{publisher.name}}</td>
        <td>{{publisher.address}}</td>
        <td>{{publisher.phone}}</td>
        <td>{{publisher.email}}</td>
        <td>
          <button (click)="deletePublisher(publisher.id)">Delete</button>
          <br>
          <button style="margin-top: 10px;">Update</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class= "button" (click)="addPublishers()" style="--clr:#790252; margin: 20px; float: right">
    <span>Add Publisher</span>
    <i></i>
  </button>