<div class="title">Welcome</div>

<div class="form">
  <div class="subtitle">Add Authors</div>

    <form [formGroup]="authorsForm" (ngSubmit)="saveAuthor()" >
        <div class="input-container ic1">
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" />
        </div>
        <div class="input-container ic2">
          <label for="brithdate">Birth Date:</label>
          <input type="date" id="brithdate" formControlName="brithdate" />
        </div>
        <div class="input-container ic2">
          <label for="nationality">Nationality:</label>
          <input type="text" id="nationality" formControlName="nationality" />
        </div>
        
        <button style="margin-top: 50px;" type="submit">
          <span></span>
          <span></span>
          <span></span>
          <span></span> Save
        </button>
      </form>
</div>

<h3> Form status: {{authorsForm.valid}}</h3>
<h3> Form json: {{authorsForm.value | json}}</h3>